$bg-nav-dark: #6a4d38;
$bg-nav-lite: #826550;
$bg-dark: #242424;
$bg-lite: #f8f5f2;
$border-lite: #e6ded6;
$border-dark: #e5ddd5;
$bg-price-list: #353535;


// Fonts
$pt-sans: "PT Sans Narrow", sans-serif;