@import url(normalize.css);
@import url("https://fonts.googleapis.com/css?family=PT+Sans+Narrow:400,700&subset=cyrillic");
.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  padding: 0;
  border: 0;
  clip: rect(0 0 0 0);
  overflow: hidden; }

.wrapper {
  width: 280px;
  margin: 0 auto; }

@media (min-width: 768px) {
  .wrapper {
    width: 640px;
    margin: 0 auto; } }

@media (min-width: 1200px) {
  .wrapper {
    width: 960px;
    margin: 0 auto; } }

body {
  font-family: "PT Sans Narrow", sans-serif;
  font-size: 18px;
  line-height: 27px;
  width: 100%; }

h2[class$="heading"] {
  text-transform: uppercase;
  text-align: center;
  font-size: 30px;
  line-height: 30px; }

.btn {
  clear: both;
  display: block;
  width: 100%;
  height: 50px;
  line-height: 50px;
  font-weight: 700;
  color: black;
  text-transform: uppercase;
  text-align: center;
  text-decoration: none; }

.block-end::after {
  position: absolute;
  content: "";
  display: block;
  left: 50%;
  margin-left: -45vw;
  height: 0;
  bottom: -70px;
  border-top: 35px solid transparent;
  border-bottom: 35px solid transparent;
  border-right: 45vw solid transparent;
  border-left: 45vw solid transparent; }

.page-header {
  background-color: #000; }

.page-header__logo {
  min-height: 90px;
  background: url(../img/mobile/logotype-mobile.png) 50% 50% no-repeat; }

@media (min-width: 768px) {
  .page-header {
    padding-top: 70px; }
  .page-header__logo {
    min-height: 400px;
    background: url(../img/tablet/logotype-tablet.png) no-repeat 50% 40px, url(../img/desktop/back-desktop.png) 50% 50% no-repeat; } }

@media (min-width: 1200px) {
  .page-header {
    padding-top: 70px; }
  .page-header__logo {
    min-height: 650px;
    background: url(../img/desktop/logotype-desktop.png) no-repeat 50% 50%, url(../img/desktop/back-desktop.png) 50% 50% no-repeat; } }

.page-nav {
  position: relative; }

.page-nav__btn {
  position: absolute;
  top: 0;
  width: 70px;
  height: 50px;
  border: none;
  padding: 0;
  font-size: 0;
  background-color: #6a4d38;
  cursor: pointer; }
  .page-nav__btn:hover {
    background-color: #624530; }

.page-nav__container {
  width: auto; }

.page-nav__btn {
  display: none; }

.page-nav__list {
  color: white;
  padding: 0;
  margin: 0; }

.page-nav__item {
  height: 50px;
  list-style: none;
  border-bottom: 1px solid #71543f; }
  .page-nav__item a {
    display: block;
    color: white;
    text-decoration: none;
    text-transform: uppercase;
    line-height: 50px;
    background-color: #826550;
    padding-left: 21px;
    font-weight: 700; }
    .page-nav__item a:hover {
      background-color: #755a46; }
  .page-nav__item [href="#"]:hover {
    background-color: #826550;
    cursor: default; }

.page-nav__user-bar {
  list-style: none;
  margin: 0;
  padding: 0; }
  .page-nav__user-bar--enter-btn a {
    display: block;
    color: white;
    text-decoration: none;
    text-transform: capitalize;
    line-height: 50px;
    background-color: #6a4d38;
    padding-left: 21px; }
  .page-nav__user-bar--enter-btn img {
    margin-right: 10px; }

.page-nav--closed .page-nav__btn {
  display: block;
  right: 0;
  z-index: 1; }
  .page-nav--closed .page-nav__btn::after {
    content: "";
    display: block;
    width: 36px;
    height: 2px;
    background-color: white;
    margin: 0 auto;
    box-shadow: 0 8px white, 0 -8px white; }

.page-nav--closed .active {
  position: absolute;
  top: 0;
  width: 95%; }

.page-nav--closed .page-nav__container {
  height: 50px;
  overflow: hidden; }

.page-nav--closed .page-nav__item {
  text-align: center; }

.page-nav--open .page-nav__btn {
  display: block;
  left: 0; }
  .page-nav--open .page-nav__btn::after {
    content: "";
    display: block;
    width: 35px;
    height: 2px;
    background-color: white;
    position: absolute;
    top: 24px;
    left: 17.5px;
    transform: rotate(45deg); }
  .page-nav--open .page-nav__btn::before {
    content: "";
    display: block;
    width: 35px;
    height: 2px;
    background-color: white;
    position: absolute;
    top: 24px;
    left: 17.5px;
    transform: rotate(-45deg); }

.page-nav--open .page-nav__container {
  height: 50px;
  margin-left: 70px; }

/*tablet*/
@media (min-width: 768px) {
  .page-nav {
    position: absolute;
    top: 0;
    width: 100%; }
  .page-nav__btn {
    display: none; }
  .page-nav__btn {
    display: none; }
  .page-nav__container {
    width: 640px;
    margin: 0 auto; }
    .page-nav__container::after {
      content: "";
      display: table;
      clear: both; }
  .page-nav__list {
    text-align: center;
    float: left;
    font-size: 0; }
  .page-nav__item {
    height: 70px;
    border-bottom: none;
    display: inline-block;
    font-size: 18px; }
    .page-nav__item a {
      display: block;
      line-height: 70px;
      padding: 0 15px;
      background-color: transparent; }
      .page-nav__item a:hover {
        background-color: transparent;
        color: #826550; }
    .page-nav__item [href="#"]::after {
      display: block;
      content: "";
      height: 2px;
      width: 100%;
      background-color: #826550; }
    .page-nav__item [href="#"]:hover {
      background-color: transparent;
      color: white; }
  .page-nav__user-bar {
    float: right; }
    .page-nav__user-bar--enter-btn a {
      padding: 0 15px;
      font-size: 0;
      background-color: transparent;
      line-height: 70px;
      height: 70px; }
      .page-nav__user-bar--enter-btn a:hover {
        background-color: transparent;
        color: #826550; }
    .page-nav__user-bar--enter-btn img {
      padding-top: 26px; } }

@media (min-width: 1200px) {
  .page-nav__container {
    width: 960px; }
  .page-nav__item a {
    padding: 0 32px; }
  .page-nav__user-bar {
    width: auto; }
  .page-van__user-bar--enter-btn a {
    padding: 0 32px;
    font-size: 18px;
    text-transform: uppercase;
    font-weight: 700; } }

.stat {
  background-color: #242424; }

.stat__remark-bottom {
  display: block;
  text-align: center;
  background-color: #242424;
  color: rgba(255, 255, 255, 0.3); }

.stat__remark-top {
  display: none; }

.stat__header {
  box-sizing: border-box;
  padding: 30px;
  background-color: #fff; }

.stat__heading {
  font-size: 30px;
  line-height: 30px;
  text-align: center;
  text-transform: uppercase; }

.stat__intro {
  text-align: center; }

.stat__block {
  color: white;
  margin: 0;
  padding: 20px 5%; }
  .stat__block:nth-child(1), .stat__block:nth-child(4) {
    background-color: #3e3e3e; }
  .stat__block:nth-child(2) {
    background-color: #4d4d4d; }
  .stat__block:nth-child(3) {
    background-color: #323232; }

.stat__block-price {
  font-size: 40px;
  font-weight: 700;
  line-height: 40px; }

.stat__block-text {
  float: right;
  margin: 0;
  text-align: right;
  padding: 0;
  max-width: 110px;
  line-height: 20px; }

@media (min-width: 768px) {
  .stat {
    position: relative; }
  .stat__remark-bottom {
    display: none; }
  .stat__header {
    position: absolute;
    top: -184px;
    left: 50%;
    margin-left: -320px;
    width: 640px;
    padding: 35px 40px;
    height: 184px; }
  .stat__heading {
    margin: 0;
    font-size: 40px;
    line-height: 40px;
    text-align: left !important;
    text-transform: none !important;
    float: left;
    width: 40%; }
  .stat__intro {
    margin: 0;
    text-align: left;
    float: right;
    width: 40%;
    font-size: 20px;
    line-height: 27px; }
  .stat__remark-top {
    display: block;
    text-align: left;
    background-color: transparent;
    color: rgba(0, 0, 0, 0.3);
    clear: both; }
  .stat__blocks {
    width: 640px;
    margin: 0 auto; }
    .stat__blocks::after {
      content: "";
      display: table;
      clear: both; }
  .stat__block {
    box-sizing: border-box;
    width: 50%;
    float: left;
    padding: 30px; }
    .stat__block .wrapper {
      width: auto; }
  .stat__block-price {
    font-size: 72px;
    font-weight: 700;
    line-height: 72px; }
  .stat__block-text {
    float: none;
    max-width: 100%;
    margin-top: 11px;
    text-align: left;
    padding: 0;
    line-height: 20px; } }

.advantages {
  background-color: #242424;
  color: white;
  padding-top: 20px;
  text-align: center;
  position: relative; }
  .advantages::after {
    border-top-color: #242424; }
  .advantages__slider {
    width: 280px;
    padding-bottom: 30px;
    overflow: hidden; }
  .advantages__slider-container {
    width: 840px; }
    .advantages__slider-container::after {
      content: "";
      display: table;
      clear: both; }
  .advantages .slider__item {
    box-sizing: border-box;
    float: left;
    width: 280px;
    text-align: center;
    padding: 20px 30px 0 30px; }
    .advantages .slider__item img {
      min-height: 94px; }
  .advantages__slider-controls {
    text-align: center;
    position: absolute;
    bottom: 10px;
    width: 280px; }
  .advantages input {
    display: none; }
  .advantages label[for$="-slide"] {
    display: inline-block;
    width: 10px;
    height: 10px;
    box-sizing: border-box;
    border: 1px solid #fff;
    transform: rotate(45deg);
    margin-right: 10px; }
    .advantages label[for$="-slide"]:last-child {
      margin: 0; }

.advantages__slider #advantages-first-slider:checked ~ .advantages__slider-container {
  transform: translateX(0); }

.advantages__slider #advantages-second-slide:checked ~ .advantages__slider-container {
  transform: translateX(-280px); }

.advantages__slider #advantages-third-slide:checked ~ .advantages__slider-container {
  transform: translateX(-560px); }

.advantages__slider #advantages-first-slide:checked ~ .advantages__slider-controls label[for="advantages-first-slide"],
.advantages__slider #advantages-second-slide:checked ~ .advantages__slider-controls label[for="advantages-second-slide"],
.advantages__slider #advantages-third-slide:checked ~ .advantages__slider-controls label[for="advantages-third-slide"] {
  background-color: #fff; }

@media (min-width: 768px) and (max-width: 1199px) {
  .advantages {
    text-align: left; }
    .advantages__item-heading {
      text-align: left !important;
      margin-top: 0 !important; }
    .advantages__slider {
      width: auto;
      padding-bottom: 0; }
    .advantages__slider-container {
      width: auto; }
    .advantages .slider__item {
      box-sizing: border-box;
      float: none;
      width: auto;
      text-align: left;
      padding: 45px 30px;
      border-bottom: 1px solid #494949; }
      .advantages .slider__item:last-child {
        border: none; }
      .advantages .slider__item img {
        float: left;
        min-height: 94px;
        margin-right: 35px; }
    .advantages__slider-controls {
      display: none; }
    .advantages label[for$="-slide"] {
      display: none; }
  .advantages__slider #advantages-first-slider:checked ~ .advantages__slider-container {
    transform: translateX(0); }
  .advantages__slider #advantages-second-slide:checked ~ .advantages__slider-container {
    transform: translateX(0); }
  .advantages__slider #advantages-third-slide:checked ~ .advantages__slider-container {
    transform: translateX(0); } }

@media (min-width: 1200px) {
  .advantages__slider {
    width: auto;
    padding-bottom: 0px; }
  .advantages__slider-container {
    width: auto;
    text-align: center;
    padding: 40px 0; }
  .advantages .slider__item {
    display: block;
    width: 33%;
    text-align: center;
    padding: 0 45px;
    position: relative; }
    .advantages .slider__item::after {
      position: absolute;
      display: block;
      content: "";
      width: 1px;
      height: 270px;
      background-color: #494949;
      right: -1px;
      z-index: 2; }
    .advantages .slider__item:last-child::after {
      display: none; }
  .advantages__slider-controls {
    display: none; }
  .advantages input {
    display: none; }
  .advantages label[for$="-slide"] {
    display: none; }
  .advantages__slider #advantages-first-slider:checked ~ .advantages__slider-container {
    transform: translateX(0); }
  .advantages__slider #advantages-second-slide:checked ~ .advantages__slider-container {
    transform: translateX(0); }
  .advantages__slider #advantages-third-slide:checked ~ .advantages__slider-container {
    transform: translateX(0); } }

.news {
  padding-top: 35px; }
  .news__preview {
    padding: 20px 0;
    border-bottom: 1px solid #e6ded6; }
    .news__preview::after {
      content: "";
      display: table;
      clear: both; }
    .news__preview:last-of-type {
      border: none; }
  .news__date {
    text-align: center;
    width: 50px;
    height: 50px;
    float: left;
    color: #fff;
    background-color: #000;
    position: relative; }
    .news__date::before {
      content: "";
      display: block;
      width: 0;
      height: 0;
      border: 25px solid transparent;
      border-top: 10px solid black;
      margin-top: 50px; }
    .news__date .day {
      font-size: 30px;
      position: absolute;
      top: 5px;
      left: 0;
      width: 50px; }
    .news__date .month {
      font-size: 16px;
      position: absolute;
      bottom: 0;
      left: 0;
      width: 50px; }
  .news__text {
    float: right;
    width: 210px;
    margin: 0; }

.reviews {
  position: relative; }
  .reviews::after {
    border-top-color: white; }
  .reviews__slider {
    width: 280px;
    padding-bottom: 30px;
    overflow: hidden;
    text-align: center; }
  .reviews__slider-container {
    width: 840px; }
    .reviews__slider-container::after {
      content: "";
      display: table;
      clear: both; }
  .reviews__item {
    box-sizing: border-box;
    float: left;
    width: 280px;
    padding-bottom: 20px; }
    .reviews__item img {
      float: left; }
    .reviews__item-heading {
      float: right;
      width: 210px;
      font-size: 24px;
      line-height: 24px;
      font-weight: 700;
      margin: 0;
      margin-bottom: 5px;
      text-align: left; }
    .reviews__item-text {
      float: right;
      width: 210px;
      margin: 0;
      text-align: left; }
  .reviews__slider-controls {
    text-align: center;
    position: absolute;
    bottom: 10px;
    width: 280px; }
  .reviews input {
    display: none; }
  .reviews label[for$="-slide"] {
    display: inline-block;
    width: 10px;
    height: 10px;
    box-sizing: border-box;
    border: 1px solid #000;
    transform: rotate(45deg);
    margin-right: 10px; }
    .reviews label[for$="-slide"]:last-child {
      margin: 0; }

.reviews__slider #reviews-first-slide:checked ~ .reviews__slider-container {
  transform: translateX(0); }

.reviews__slider #reviews-second-slide:checked ~ .reviews__slider-container {
  transform: translateX(-280px); }

.reviews__slider #reviews-third-slide:checked ~ .reviews__slider-container {
  transform: translateX(-560px); }

.reviews__slider #reviews-first-slide:checked ~ .reviews__slider-controls label[for="reviews-first-slide"],
.reviews__slider #reviews-second-slide:checked ~ .reviews__slider-controls label[for="reviews-second-slide"],
.reviews__slider #reviews-third-slide:checked ~ .reviews__slider-controls label[for="reviews-third-slide"] {
  background-color: #000; }

.footer {
  color: white;
  background-color: #242424;
  text-align: center;
  padding-bottom: 10px;
  padding-top: 70px; }
  .footer__address-name {
    font-weight: 700; }
  .footer__phone {
    display: block;
    font-size: 18px;
    color: white;
    height: 50px;
    width: 100%;
    line-height: 50px;
    font-weight: 700;
    text-align: center;
    text-decoration: none;
    border: 1px solid #e5ddd5;
    background-color: #242424;
    margin-bottom: 25px; }
  .footer__social::after {
    content: "";
    display: table;
    clear: both; }
  .footer__social span {
    box-sizing: border-box;
    display: block;
    float: left;
    width: 33.33%;
    height: 90px;
    border: 1px solid #e5ddd5; }
  .footer__btn {
    font-size: 18px;
    color: white;
    background-color: #242424;
    margin-bottom: 25px;
    border: 1px solid #e5ddd5; }

.form {
  background-color: #f8f5f2;
  padding-bottom: 40px;
  padding-top: 1px;
  position: relative; }
  .form::after {
    position: absolute;
    content: "";
    display: block;
    width: 0;
    height: 0;
    bottom: -70px;
    border-top: 35px solid #f8f5f2;
    border-bottom: 35px solid transparent;
    border-right: 50vw solid transparent;
    border-left: 50vw solid transparent; }
  .form input {
    font-family: "PT Sans Narrow", sans-serif;
    font-size: 18px;
    line-height: 27px; }
  .form input[type="text"],
  .form input[type="phone"],
  .form input[type="email"],
  .form textarea {
    height: 50px;
    width: 100%;
    box-sizing: border-box;
    border: 1px solid #e6ded6;
    margin-bottom: 6px;
    padding: 20px; }
  .form .form-info {
    line-height: 27px;
    padding: 20px;
    min-height: 112px; }
  .form .form__group-heading {
    font-size: 20px;
    text-transform: uppercase;
    text-align: center;
    font-weight: 300;
    padding: 20px; }
  .form [class$="-wrapper"]::after {
    content: "";
    display: table;
    clear: both; }
  .form .beard-shape {
    display: block;
    float: left;
    width: 33%;
    min-height: 201px;
    text-align: center; }
  .form .radio-beard-shape {
    position: relative;
    box-sizing: border-box;
    display: inline-block;
    height: 52px;
    width: 52px;
    border: 1px solid #e6ded6;
    border-radius: 50%;
    background-color: #fff; }
    .form .radio-beard-shape::after {
      content: "";
      display: none;
      box-sizing: border-box;
      width: 18px;
      height: 18px;
      border: 1px solid #e6ded6;
      border-radius: 50%;
      background-color: white;
      position: absolute;
      top: 50%;
      left: 50%;
      margin-top: -9px;
      margin-left: -9px; }
  .form input[name="beard-shape"] {
    display: none; }
  .form input[name="beard-shape"]:checked + .radio-beard-shape::after {
    display: block; }
  .form__additionally-wrapper .checkbox-additionally {
    display: block;
    float: left;
    width: 36px;
    height: 36px;
    margin-right: 24px;
    border: 1px solid #e6ded6; }
  .form__additionally-wrapper input[name="additionally"]:checked + .checkbox-additionally {
    background: url(../img/mobile/check.png) 50% 50% no-repeat; }
  .form__additionally-wrapper label {
    display: block;
    line-height: 38px;
    margin-bottom: 20px;
    cursor: pointer; }
  .form__additionally-wrapper input {
    display: none; }
  .form__btn {
    background-color: #826550;
    color: white;
    margin-top: 30px; }

.photo {
  background-color: #f8f5f2;
  padding-top: 1px;
  padding-bottom: 20px;
  position: relative; }
  .photo::after {
    position: absolute;
    content: "";
    display: block;
    width: 0;
    height: 0;
    bottom: -70px;
    border-top: 35px solid #f8f5f2;
    border-bottom: 35px solid transparent;
    border-right: 50vw solid transparent;
    border-left: 50vw solid transparent; }
  .photo__main-item {
    position: relative;
    box-sizing: border-box;
    border: 1px solid #e6ded6;
    margin-bottom: 20px; }
    .photo__main-item::after {
      content: "";
      display: table;
      clear: both; }
    .photo__main-item--sticker {
      position: absolute;
      left: 0;
      top: 400px;
      z-index: 1;
      padding: 0 25px;
      line-height: 50px;
      background-color: #83654f;
      color: white;
      text-transform: uppercase;
      font-weight: 700; }
      .photo__main-item--sticker::before {
        display: block;
        position: absolute;
        top: 0;
        right: -10px;
        content: "";
        width: 0;
        height: 0;
        border-top: 25px solid #83654f;
        border-right: 10px solid transparent;
        border-bottom: 25px solid #83654f; }
  .photo__item {
    box-sizing: border-box;
    border: 1px solid #e6ded6;
    margin-bottom: 20px; }
    .photo__item::after {
      content: "";
      display: table;
      clear: both; }
  .photo__main-photo, .photo__photo {
    display: block;
    width: 100%;
    margin-bottom: 20px; }
  .photo__item-heading {
    font-size: 24px;
    font-weight: 700;
    margin-bottom: 20px;
    padding: 0 20px; }
  .photo__text {
    padding: 0 20px; }
  .photo__additionally {
    width: 50%;
    float: left;
    vertical-align: text-top;
    margin-bottom: 10px; }
    .photo__additionally span {
      margin-left: 55px; }
  .photo .scissors {
    background: url(../img/mobile/photo-scissors-icon.png) no-repeat 15% 50%; }
  .photo .beard {
    background: url(../img/mobile/photo-beard-icon.png) no-repeat 15% 50%; }
  .photo .mustache {
    background: url(../img/mobile/photo-mustache-icon.png) no-repeat 5% 50%; }

.price-list {
  background-color: #353535;
  color: white;
  padding-top: 35px;
  padding-bottom: 20px;
  position: relative; }
  .price-list::after {
    position: absolute;
    content: "";
    display: block;
    width: 0;
    height: 0;
    bottom: -70px;
    border-top: 35px solid #353535;
    border-bottom: 35px solid transparent;
    border-right: 50vw solid transparent;
    border-left: 50vw solid transparent; }
  .price-list__table {
    display: table;
    width: 100%;
    margin-bottom: 20px; }
  .price-list td {
    display: table-cell; }
    .price-list td:last-child {
      text-align: right;
      vertical-align: top; }
  .price-list span {
    font-weight: 700; }
  .price-list__sale {
    height: 90px;
    border: 1px solid #e5ddd5;
    background: url(../img/mobile/photo-clock.png) no-repeat 10% 50%; }
    .price-list__sale p {
      margin-left: 130px; }
